.select {
	position: relative;
}

.select > input {
	inline-size: 100%;
	box-sizing: border-box;
}

.select__dropdown {
	position: absolute;
	z-index: 2;
	list-style: none;
	margin: 0;
	padding: 0;
	background: Field;
	color: FieldText;
	font-family: sans-serif;
	font-size: small;
	font: -moz-field;
	border: 1px solid Field;
	outline: 1px solid ButtonBorder;
	border-block-start: 0;
	inset-inline: 0;
	overflow-y: auto;

	/* line-height and block-size are chosen so that the last line is only */
	/* half visible (to indivate that there is more below) */
	line-height: 1.2;
	max-block-size: 10.4em;
}
.select__dropdown:empty {
	display: none;
}

.select__dropdown [role="option"],
.select__dropdown strong {
	display: block;
	padding-block: 0.2em;
	padding-inline: 0.4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}
.select__dropdown [role="option"].select--selected,
.select__dropdown [role="option"]:hover {
	background: rgba(128,128,128,.3);
	color: inherit;
}
.select__dropdown [role="option"].select--has-focus {
	background: Highlight;
	color: HighlightText;
}
.select__dropdown [role="option"][aria-disabled="true"] {
	background: transparent;
	color: GrayText;
}
.select__dropdown ul {
	margin: 0;
	padding: 0;
}
.select__dropdown ul [role="option"] {
	padding-inline-start: 2em;
}

.select__input {
	position: relative;
}
.select__input input {
	position: relative;  /* on top of values */
}

.select__values {
	position: absolute;
	display: inline;
	padding: 0;
	margin: 0;
}
.select__values li {
	display: inline-block;
	position: relative;
	z-index: 1;  /* on top of input */
	margin-block: 0.1em;
	margin-inline: 0.2em;
	margin-inline-start: 0;
	cursor: default;
}
.select__value {
	padding-inline: 0.2em;
	background: rgba(128,128,128,.3);
	color: FieldText;
	border: 1px solid ButtonBorder;
	border-radius: 0.3em;
}

.select__measure {
	inline-size: 0;
	block-size: 0;
	overflow: hidden;
	white-space: pre;
}

@media (prefers-color-scheme: dark) {
	.select__dropdown {
		color-scheme: dark;
	}
}
